/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
@import './globalStyles/_variables';
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.overflow-effect {
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), transparent), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), transparent) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.caps {
  letter-spacing: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #E7EBEF;
  height: 100vh;
}

input {
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  outline: none;
  border: 1px solid $grey-color;
}

.cursor {
  cursor: pointer;
}

input {
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  outline: none;
  border: 1px solid $grey-color;
}

* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.heading {
  color: $heading-color;
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  background-color: white;
}

.flex-center {
  display: flex;
  align-items: center;
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);

  .modal {
    border-radius: 5px;
  }
}

button {
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background-color: $grey-color;
}
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
