.container.card
  .login-view.center.py2(ng-if='!main.isloggedIn')
    .heading.h2.center Please Login or sign up
    input.p1.mt3(placeholder="Enter user name" ng-model='main.username' type='text')
    button.col-3.p1.ml2(ng-click="main.signup()" ng-disabled='!main.username') Sign up
    .mt2
    input.p1(placeholder="Enter user ID" ng-model='main.userID' type='number')
    button.col-3.p1.ml2(ng-click="main.login()" ng-disabled='!main.userID') login  
  .map-container.p1(ng-if='main.isloggedIn' map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{main.googleMapsUrl}}" )
    
    .heading.h2.pb2.pt1.clearfix
      .col-2.left
        a.h4.inline.back.cursor.left-align(ng-click="main.isloggedIn=false") Back
      .col-8.left.center
        span Hello, {{main.username}}
        .h4.inline (ID: {{main.userID}})
    ng-map(center='15.8700,100.9925', zoom='6' id='map_canvas')
      marker(position="{{travellerCity.position}}" ng-attr-id="{{travellerCity.id}}" title='travellerCity.cityName' icon="{{travellerCity.iconURL}}" ng-repeat='travellerCity in main.travellerCities' on-click='main.markerClicked(travellerCity)')
      info-window(id='info-window'  position="{{main.infoWindow.position}}" on-closeclick="main.resetMap()")
        div(ng-non-bindable)
          | {{main.infoWindow.text}}
      shape(name='circle', stroke-color='#FFFFFF', ng-if="main.isZoneVisible(zone.zoneName)" stroke-opacity='1', stroke-weight='2', center='[{{zone.latitude}},{{zone.longitude}}]', radius='{{zone.radius}}' ng-repeat='zone in main.zones')
