.like-item,
.region-item {
  border: 1px solid $theme-color;
  border-radius: 5px;
  color: $theme-color;
  display: inline-block;

  &.highlighted {
    color: white;
    background-color: $theme-color;

    .close {
      border-color: white;
    }
  }

  .close {
    border-left: 1px solid $theme-color;
  }
}

.input-container {
  border-bottom: 1px solid $grey-color;
}

.plus-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $theme-color;
  color: white;

  .plus {}
}
