.control-panel-container.p2
  .card.p3.md-col-8.lg-col-5.sm-col-12.mx-auto
    .heading-container.clearfix.pb2
      a.back.left.col-2(ui-sref="travellers")
        img(src='./icons/back.svg' height='25px').cursor
      .heading.h2.left.col-8.center MTG Control Panel
      .col-2.left
    .cities-container
      .h3.py1.heading.bold CITIES
      p You can highlight/unhighlight a city by clicking on it.
      p.pb1.pt2.heading Traveler's ({{traveller.user.name}}) likes
      .likes-container.py1
        .like-item.p1.mr1.mb1(ng-repeat="travellerCity in traveller.travellerCities" ng-class="{'highlighted':travellerCity.highlighted}")
          span.pr1.py1.bold.cursor.caps(ng-click="traveller.toggleCity(travellerCity)") {{travellerCity.cityName}}
          span.close.pl1.py1.cursor(ng-click="traveller.confirmRemove(travellerCity,'TRAVELLER')") X
          
      p.pb1.pt1.heading(ng-show="traveller.wizardCities.length>0") Wizard Recommended
      .likes-container.my1
        .like-item.p1.mb1.mr1(ng-repeat="wizardCity in traveller.wizardCities" ng-class="{'highlighted':wizardCity.highlighted}")
          span.pr1.py1.bold.cursor.caps(ng-click="traveller.toggleCity(wizardCity)" ) {{wizardCity.cityName}}
          span.close.pl1.py1.cursor(ng-click="traveller.confirmRemove(wizardCity, 'WIZARD')") X
      .input-container.pt1.pb3.flex-center
        angucomplete(placeholder="Search countries" pause="100" selectedobject="traveller.wizardCitytoAdd" localdata="traveller.cities" searchfields="cityName" minlength="1"  titlefield="cityName" inputclass="p1")
        img.cursor.ml1(src='./icons/plus.svg' width='25px' ng-click='traveller.addWizardCity()')
    .regions-container.pt2
      .h3.py1.heading.bold REGIONS
      p You can highlight/unhighlight a region by clicking on it.
      .regions-container.pt2
        .region-item.p1.mr1.mb1(ng-repeat="zone in traveller.zones" ng-click='traveller.highlightZone(zone,$index)' ng-class='{"highlighted":traveller.getHighlightedZoneIndex(zone)>-1}')
          span.py1.bold.cursor {{zone.zoneName}}

.modal-container.p4(ng-show='traveller.modalVisibility')
  .modal.card.md-col-8.lg-col-5.sm-col-12.mx-auto.p3.mt4
    .modal-body.h3 Would you like to remove 
      span.caps {{traveller.citytoRemove.city.cityName}}
      span  from travellers plan ?
    .modal-buttons.center.pt2
      button.p1.px2.mr1(ng-click="traveller.removeWizardCity()") YES
      button.p1.px2(ng-click="traveller.modalVisibility=false") NO
      
