.travellers-list.p2
  .card.p3.md-col-8.lg-col-5.sm-col-12.mx-auto
    .heading.h2.center.pb2 List of travellers
    .travellers.pt2
      .card.bold.p2.cursor.clearfix.mb2(ui-sref="traveller({travellerID:user.id})",ng-repeat="user in travellers.users")
          .col-9.left.traveller-name {{user.name}}
          .col-3.left.right-align ID: {{user.id}}
          //- .col-3.left.right-align.traveller-status(ng-class="user.online ? 'online': 'offline' ") {{traveller.online? "Online":"Offline"}}
